---
import DefaultLayout from '../../layouts/Default.astro';
import PageHeader from '../../layouts/PageHeader.astro';
import PageFooter from '../../layouts/PageFooter.astro';
import '../../layouts/curriculum.css';
import curriculumJs from '../../layouts/curriculum.js?url';
---
<DefaultLayout title="Curriculum">
  <PageHeader active="curriculum" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />

  <div id="curriculum-widget"></div>

  <script src="https://cdn.jsdelivr.net/npm/marked@12/marked.min.js" is:inline></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" is:inline></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" is:inline></script>
  <script src={curriculumJs} is:inline></script>

  <hr />

  <PageFooter active="curriculum" />
</DefaultLayout>
